{{define "edit_setting_privilege"}}
	{{template "layout"}}

	<div class="page-wrapper">
		<!-- Bread crumb and right sidebar toggle -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-themecolor">Setting Privilege</h3>
			</div>
			<div class="col-md-7 align-self-center">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0)">Setting</a></li>
                    <li class="breadcrumb-item active">Privilege</li>
				</ol>
			</div>
		</div>
		<!-- End Bread crumb and right sidebar toggle -->

	</div>

	{{template "footer"}}
	<script>
		$(function(){
			$("select[name='status']").selectize();
		});
        function validasi_input(form){

            $('.has-danger').removeClass( "has-danger");
            $('.form-control-feedback').text("");


            // validasi
            if (form.kode_privilege.value == "") {
                $("#kode_privilege").addClass("form-group has-danger");
                $("#alert-kode-privilege").text("Please fill in Code Privilege");
                form.kode_privilege.focus();
                return (false);
            }
            if (form.name_menu.value == "") {
                $("#name_menu").addClass("form-group has-danger");
                $("#alert-name-menu").text("Please fill in Name Menu");
                form.name_menu.focus();
                return (false);
            }

            return (true);
        }

    </script>
	{{template "lastfooter"}}
{{end}}
