{{define "edit_setting_user_grup"}}
	{{template "layout"}}

	<div class="page-wrapper">
		<!-- Bread crumb and right sidebar toggle -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-themecolor">Setting User Grup</h3>
			</div>
			<div class="col-md-7 align-self-center">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0)">Setting</a></li>
					<li class="breadcrumb-item active">User Grup</li>
				</ol>
			</div>
		</div>
		<!-- End Bread crumb and right sidebar toggle -->

		<div class="container-fluid">
			<div class="row ">
				<!-- Data -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="card-header bg-info text-white">
							<h4 class="card-title m-b-0 text-white">Edit Data</h4>
						</div>
						<div class="card-body">
							{{if .error }}
								<div class="alert alert-danger alert-dismissible mb-2" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Error!</strong> {{.error}}.
								</div>
							<br>
							{{end}}
							<form action="/setting/user_grup/editform/{{.setting_user_grup.Id}}/" method="post">
							<div class="form-horizontal row ">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group row">
										<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Name User <span class="required">*</span></label>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
											<select name="id_setting_user" class="form-control" required>
												<option value="">Choose Name User : </option>
												{{$nu := .setting_user_grup.Id_setting_user}}
												{{range .resultUser}}
												<option value="{{.Id}}"{{if eq .Id_employee $nu }}selected{{end}}>{{.Id_employee}}</option>
												{{end}}
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Name Grup <span class="required">*</span></label>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
											<select name="id_setting_grup" class="form-control" required>
												<option value="">Choose Name Grup : </option>
												{{$ng := .setting_user_grup.Id_setting_grup}}
												{{range .resultGrup}}
												<option value="{{.Id}}"{{if eq .Name_Grup $ng }}selected{{end}}>{{.Name_Grup}}</option>
												{{end}}
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Status <span class="required">*</span></label>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
											<select name="status" class="form-control" required>
												<option value="Y"{{if eq .setting_user_grup.Status "Y"}} selected {{end}}>Active</option>
												<option value="N"{{if eq .setting_user_grup.Status "N"}} selected {{end}}>Non Active</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 offset-lg-2">
											<button class="btn btn-sm btn-info" type="submit">
												<i class="fa fa-paper-plane"></i>&nbsp;&nbsp;Update
											</button>
											<a href="/setting/user_grup/" class="btn-sm btn waves-effect waves-light btn-secondary">
												<i class="fa fa-reply"></i>&nbsp;&nbsp;Back
											</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{template "footer"}}
	<script>
		$(function(){
			$("select[name='id_setting_user']").selectize();
			$("select[name='id_setting_grup']").selectize();
			$("select[name='status']").selectize();
		});
	</script>
	{{template "lastfooter"}}
{{end}}
