{{define "edit_form_sample_crud"}}
    {{template "layout"}}


    <div class="page-wrapper">
        <!-- Bread crumb and right sidebar toggle -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Sample Crud</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Sample Crud</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb and right sidebar toggle -->

        <!-- Konten -->
        <div class="container-fluid">
            <div class="row ">
                <!-- Data -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            <h4 class="card-title m-b-0 text-white">Edit Data</h4>
                        </div>
                        <div class="card-body">
                            <form action="/lib/sample_crud/editform/{{.data.Additional}}" method="POST" enctype="multipart/form-data"
                            onsubmit="return validasi_input(this)">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group" id="text_input">
                                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Text Input <span class="required">*</span></label>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <input type="text" class="form-control" name="text_input" placeholder="Text Input" value="{{.data.Text_input}}" />
                                            <small class='form-control-feedback' id='alert-text-input'></small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Text Area</label>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                             <textarea name="text_area" class="form-control" placeholder="Text Area" data-autosize>{{.data.Text_area}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Radio Button</label>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <label class="custom-control custom-radio">
                                                <input id="radio1" name="status" type="radio" class="custom-control-input" value="Y" {{if eq (.data.Status) ("Y")}} checked="" {{end}}>
                                                <span class="custom-control-label">Aktif</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input id="radio2" name="status" type="radio" class="custom-control-input" value="N" {{if eq (.data.Status) ("N")}} checked="" {{end}}>
                                                <span class="custom-control-label">Non Aktif</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <button class="btn btn-sm btn-info" type="submit">
                                                <i class="fa fa-paper-plane"></i>&nbsp;Update
                                            </button>
                                            <a href="/lib/sample_crud/" class="btn-sm btn waves-effect waves-light btn-secondary">
                                                <i class="fa fa-reply"></i> Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    {{template "footer"}}
    <script type="text/javascript">
        function validasi_input(form) {
            $('.has-danger').removeClass( "has-danger");
            $('.form-control-feedback').text("");

            // validasi
            if (form.text_input.value == "") {
                $("#text_input").addClass("form-group has-danger");
                $("#alert-text-input").text("Please fill in Text input");
                form.text_input.focus();
                return (false);
            }
            return (true);
        }
    </script>
    {{template "lastfooter"}}
{{end}}
